.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: auto;
}

.jobs-list {
    flex-grow: 1;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e2e2e2;

    &__title {
        background: #fafafa;
        padding: 1rem;
        font-size: 18px;
        border-bottom: 1px solid #d3d3d3;
        position: relative;

        & > p:nth-child(1) {
            font-weight: 700;
            width: fit-content;

            // &::after {
            //     content: 'asdasa';
            //     background: #4A5568;
            //     color: white;
            //     padding: 6px;
            //     border-radius: 4px;
            //     position: absolute;
            //     top: 10px;
            //     display: none;
            //     font-weight: 500;
            // }
        }

        // & > p:nth-child(1):hover {
        //     &::after {
        //         display: initial;
        //     }
        // }

        
    }

    &__curation {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    &__loading-container {
        display: flex;
        justify-content: center;
    }
}

.job-card {
    padding: 1.5rem;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;

    img {
        width: 36px;
        height: auto;
        padding: 8px 16px;
    }

    &__detail {
        display: flex;
        flex-direction: column;

        &__company {
            display: flex;
            flex-direction: column;
        }
    }
}

.job-display {
    width: 70%;
    flex-grow: 1;
    background: white;
    overflow-y: auto;
    margin: 0;
    padding: 0;

    & > img {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }

    &__header {
        width: 100%;
        height: 240px;
        background: url('https://s3-ap-northeast-1.amazonaws.com/media-storage-kalibrr/job-function-banners/IT_and_Software.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    &__company-logo {
        border: 1px solid #d3d3d3;
        width: 192px;
        height: 112px;
        position: absolute;
        top: -60px;
        background: white;
        box-shadow: 0px 0px 2px #e9e9e9;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 90px;
            width: auto;
        }
    }

    &__content {
        position: relative;
        padding: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__start {
            display: block;
            margin-top: 45px;
        }

        p {
            font-size: 14px;
            color: #4A5568;
        }
    }

    &__detail { 
        display: flex;
        flex-direction: column;
        padding: 24px;

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 40px;
        }

        &__start {
            width: 70%;
        }

        &__apply-box {
            width: 30%;
            background: #fffef1;
            height: fit-content;
            border: 1px solid #d3d3d3;
            border-radius: 5px;

            &__content {
                padding: 15px;
                word-wrap: break-word;
            }
        }
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    @media screen and (max-width: 1023px) {
        display: none;
    }
}

a {
    text-decoration: none;
    color: #0086ff;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    flex-direction: column;

    &__navbar {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;

        img {
            width: auto;
            height: 45px;
        }

        &__end {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            font-size: 16px;
            font-weight: 500;
            position: relative;
            cursor: pointer;
            
            span {
                display: flex;
                flex-direction: row;
                gap: 7px;
                align-items: center;
            }

            &__submenu {
                padding-top: 10px;
                padding-bottom: 10px;
                position: absolute;
                right: 0;
                bottom: -65px;
                width: 220px;
                border: 1px solid #e8e8e8;
                border-radius: 6px;
                background: white;

                &__item {
                    padding: 8px 16px;
                    cursor: pointer;
                    width: 100%;
                    border: none;
                    background: white;
                    font-size: 16px;
                    text-align: left;
                    display: flex;
                    flex-direction: row;
                    gap: 12px;

                    &:hover {
                        background: #d3d3d3;
                    }
                }
            }   

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}

.filter {
    background: #3685FE;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 12px;

    button {
        width: 150px;
        font-size: 16px;
        background: white;
        border: none;
        border-radius: 4px;
        font-weight: 600;
        cursor: pointer;
    }

    label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        color: white;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
    }

    @media screen and (max-width: 1023px) {
        display: flex;
        flex-direction: column;

        input {
            flex-grow: 0;
        }

        label {
            justify-content: flex-end;
        }

        button {
            display: none;
        }
    }
}

input {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    flex-grow: 1;
}

input:focus {
    outline: none;
}